name: PR Agent (DeepSeek)

on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]

jobs:
  pr_agent:
    runs-on: ubuntu-latest

    # ⭐ 必须的权限（不然不能评论 PR）
    permissions:
      contents: read
      pull-requests: write
      issues: write

    steps:
      # 1️⃣ 拉取代码（pr-agent 会自己读 diff，但 checkout 是好习惯）
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Debug env
        env:
          DEEPSEEK_API_KEY: ${{ secrets.DEEPSEEK_API_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo "DEEPSEEK_API_KEY length = ${#DEEPSEEK_API_KEY}"

      # 2️⃣ 运行 pr-agent
      - name: Run PR Agent
        uses: qodo-ai/pr-agent@main
        env:
          # GitHub 内置 Token，用于发评论
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

          # # DeepSeek API Key（你自己加的 secret）
          DEEPSEEK_API_KEY: ${{ secrets.DEEPSEEK_API_KEY }}

          # ===== 模型配置 =====
          config.model: "deepseek/deepseek-chat"
          config.fallback_models: '["deepseek/deepseek-reasoner", "deepseek/deepseek-chat"]'
          config.response_language : zh-CN

          pr_reviewer.require_score_review: true
          PR_REVIEWER.REQUIRE_CAN_BE_SPLIT_REVIEW: true
          PR_REVIEWER.EXTRA_INSTRUCTIONS: "循环次数过大与方法命名要直接看出功能"
          pr_reviewer.num_max_findings: 4


          pr_code_suggestions.commitable_code_suggestions: true
          pr_code_suggestions.suggestions_score_threshold: 2
          pr_code_suggestions.num_code_suggestions_per_chunk: 5


          PR_CODE_SUGGESTIONS.EXTRA_INSTRUCTIONS: "循环次数过大与方法命名要直接看出功能"
          github_action_config.auto_review: true # enable\disable auto review
          github_action_config.auto_describe: true # enable\disable auto describe
          github_action_config.auto_improve: true # enable\disable auto improve
          
          github_app.app_name: "Big brother is watching you!"